body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;  
}
.App__contains {
  display: flex;
  width: fit-content;
  margin: auto;
  margin-top: 5%;
}
.App__Elements {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}
nav {
  width: 100%;
  height: 4rem;
  background: #dddddd94;
  box-shadow: 0px 7px 7px grey;
  display: flex;
  align-items: center;
  position: fixed;
  /* margin-bottom: 5rem; */
}
.App__Logo {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 4rem;
}
.App__Logo h2 {
  text-align: center;
  /* border: 1px solid black; */
  margin: 0px;
}
.App__Logo p {
  width: 100%;
  text-align: center;
  margin-top: -0.3rem;
}
.App__navInfo {
  display: flex;
}